@media (max-width: 569px){
    .form-search {
        width: 100%;
        margin-left: 0px!important;
        margin-top: 0.75rem!important;
    }
}
@media (max-width: 500px) {
    .login-4 .form-section .social-list li a i {
        display: none;
    }

    .login-4 .form-section .social-list li a {
        width: 100px;
    }
}